(config.js, script/agenda/script.js, script/berita/script.js, script/galeri/script.js, script/home/script.js, script/notification.js, script/pengumuman/script.js, script/profil_osis/script.js, script/utils/helpers.js)